<div id="custom-modal-alert" class="flex collapse">
    <div class="custom-alert">
        {% if customMessage is defined and customMessage is not null %}
        {{ customMessage }}
        {% endif %}
    </div>
</div>