{% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block body %}
<!--***************************NAV****************************-->
{% include "nav/witch.menu.sidebar.html.twig" %}

<div class="witch-user-div">
    <h4>Mon panier</h4>
    <hr class="hr">
    <table class="table-user">
        <tbody>
            
            {% for article in cart.getArticles %}
            <tr>
                <th>
                    Article
                    <td>
                    {{ article.name }} - {{ article.witchFormat }} ml - {{ article.quantity }}
                </td>
                </th>
            </tr>
        </tbody>

        <section class="witch-cart flex">


            {% endfor %}
        </section>

        {% endblock %}