/*
***********************************
COLORS
***********************************
*/
:root {
  --primary-color: #000000;;
  --secondary-color: #ffffff ;
  --title-color: #002140;
  --font-color-white: #cecece;
  --font-color-dark: #3b3b3b;
  --span-color: #e7b203;
}


/*
***********************************
GENERAL
***********************************
*/

html, body {
  //overflow: hidden;
  width: 100%;
  height: 100vh;
}

.flex {
  display: flex;
}

section * {
  text-align: center;
}

.center-div {
  width: 70%;
  margin: auto;
}

.main-title {
  margin-top: .5em;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide-height {
  transform:scaleY(0);
  height: 0;
  transition: 0.3s;
}

a {
  margin: 0;
  text-decoration: none;
}

label {
  color: var(--primary-color);
}

.center-element {
  text-align: center;
}

span {
  color: var(--span-color);
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: rgb(29, 29, 29);
  background: radial-gradient(
    circle,
    rgb(8, 8, 8) 0%,
    rgba(219, 219, 219, 0.144) 50%,
    rgba(209, 209, 209, 0) 100%
  );
}

.hr-white{
  border: 0;
  height: 1px;
  width: 400px;
  background: #333;
  background-image: linear-gradient(to right,  rgb(22, 22, 22), rgb(255, 255, 255),rgb(22, 22, 22));
}

.scrollable-auto {
  padding: 1em 2em;
  height: auto;
  margin-bottom: 1em;
}


/*
***********************************
FONTS & ICONS
***********************************
*/
* {
  font-family: 'Raleway', sans-serif;
}

p, span, ul li, li {
  letter-spacing: .2rem !important;
}

.market-message ul li {
  font-weight: 200;
  font-size: 6em important;
}

.fa,
.fas {
  color: var(--link-button-color);
  margin-right: 10px;
  &:hover{
    color: var(--orange-icon-color);
  }
}

/*
***********************************
LISTS
***********************************
*/
ul li, li {
  list-style-type: none !important;
}

.available {
  color: var(--available-color);
}

.unvailable {
  color: var(--unavailable-color);
}

/*
***********************************
INPUTS
***********************************
*/

input:focus {
  outline: none;
}