@import "./settings";

/**
//////////////////////////////////////
HEADER
//////////////////////////////////////
*/

.witch-header {
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
}

.grid-witch {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.small {
    width: 40px;
    height: 40px;
    @include sm {
        width: 14px;
        height: 14px;
    }
    @include xs {
        width: 10px;
        height: 10px;
    }
}

.square,
.witch-pink {
    pointer-events: none;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: var(--primary-color);
    font-size: 3em;
    @include sm {
        width: 17px;
        height: 17px;
        font-size: 1em;
        margin-bottom: 1em;
    }
    @include xs {
        width: 14px;
        height: 14px;
        font-size: 1em;
        margin-bottom: 1em;
    }
}

.square {
    color: var(--secondary-color);
    font-weight: 100;
}

.witch-pink {
    color: var(--witch-pink) !important;
    font-weight: 200;
    @include sm {
        width: 17px;
        height: 17px;
    }
    @include xs {
        width: 14px;
        height: 14px;
    }
}

/**
//////////////////////////////////////
PINK WITCH
//////////////////////////////////////
*/
.parallax-section {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pink-witch-bg {
    background: url("../images/witch-background.jpg");
    width: 100%;
}

.yellow-witch-bg {
    background-image: url("../images/witch-background2.jpg");
}

.pink-witch-bg,
.yellow-witch-bg {
    width: 100%;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption-witch {
    position: absolute;
    left: 46%;
    top: 30%;
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
    transition: ease-in 0.2s;
    background-color: var(--secondary-color);
    &:hover {
        .wich-witch {
            text-shadow: 4px 4px 2px #3f3001;
            transition: ease-in 0.2s;
        }
    }
    @include sm {
        left: calc(53/2);
    }
    @include xs {
        left: calc(53%/2);
    }
}

.wich-witch {
    color: var(--primary-color);
}

/**
//////////////////////////////////////
PARFUM RESUME
//////////////////////////////////////
*/

.parfum-resume h3 {
    text-align: center;
}

.parfum-resume {
    justify-content: center;
    padding: 2em;
}

.left-witch-resume {
    justify-content: center;
}

.right-witch-resume {
    text-align: justify;
    padding: 2em;
}

.parfum-resume .flex {
    margin: auto;
    @include sm {
        flex-direction: column;
    }
    @include xs {
        flex-direction: column;
    }
}

.witch-bottle {
    width: 160px;
}

.em-witch {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
}

.flex #pink-witch-buy {
    background-color: var(--witch-pink);
    text-shadow: 2px 2px 3px #43084e;
    margin: auto;
}

.flex #yellow-witch-buy {
    background-color: var(--witch-yellow);
   
    text-shadow: 2px 2px 3px #3f3001;
    margin: auto;
}

.flex #pink-witch-buy span, .flex #yellow-witch-buy span {
    padding: 1em;
    vertical-align: sub;
}

.flex #pink-witch-buy a, .flex #yellow-witch-buy a {
    color: var(--primary-color);
}



/*
***********************************
SHOP SEARCH BAR / NAV
***********************************
*/

.witch-shop-nav {
    justify-content: space-between;
    padding: 2em;
}

.search-input {
    width: 11rem;
}

.main-button-search {
display: none;
}

.search form {
    display: flex;
}

.right-nav-menu-witch {
    display: flex !important;
    justify-content: space-between;
    width: 90px;
}


/**
//////////////////////////////////////
S H O P
//////////////////////////////////////
*/

.witch-title-nav a {
    color: var(--primary-color) !important;
}

.witch-products {
    flex-direction: column;
}

.left-witch-product, .right-witch-product {
    width: 50%;
}


.left-witch-product {
    margin: auto;
}

.right-witch-product {
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    margin-right: 50px;
    padding: 2em;
}

.right-witch-product * {
    margin: auto;
}

.container-witch-product img {
    width: 30%;
}