/*
***********************************
COLORS
***********************************
*/
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --title-color: #002140;
  --font-color-white: #cecece;
  --font-color-dark: #3b3b3b;
  --span-color: #e7b203;
  --link-color: #1EAEDB;
  --witch-pink: #cd5c6e;
  --witch-yellow: #c5ac48;
}

/*
***********************************
GENERAL
***********************************
*/
*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section * {
  text-align: center;
}

.center-div {
  width: 70%;
  margin: auto;
}

.main-title {
  margin-top: 0.5em;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide-height {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  margin: 0;
  text-decoration: none;
}

label {
  color: var(--primary-color);
}

.center-element {
  text-align: center;
}

span {
  color: var(--span-color);
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: #1d1d1d;
  background: radial-gradient(circle, #080808 0%, rgba(219, 219, 219, 0.144) 50%, rgba(209, 209, 209, 0) 100%);
}

.hr-white {
  border: 0;
  height: 1px;
  width: 90%;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#161616), color-stop(white), to(#161616));
  background-image: linear-gradient(to right, #161616, white, #161616);
}

.scrollable-auto {
  padding: 1em 2em;
  height: auto;
  margin-bottom: 1em;
}

/*
***********************************
FONTS & ICONS
***********************************
*/
* {
  font-family: "Raleway", sans-serif;
}

p,
span,
ul li,
li {
  letter-spacing: 0.2rem !important;
}

.market-message ul li {
  font-weight: 200;
  font-size: 6em important;
}

.fa,
.fas {
  color: var(--link-button-color);
  margin-right: 10px;
}

.fa:hover,
.fas:hover {
  color: var(--orange-icon-color);
}

/*
***********************************
LISTS
***********************************
*/
ul li,
li {
  list-style-type: none !important;
}

.available {
  color: var(--available-color);
}

.unvailable {
  color: var(--unavailable-color);
}

/*
***********************************
FLASH MESSAGES
***********************************
*/
.flash-container {
  top: 120px;
  z-index: 2;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.alert {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  outline: none;
  text-align: center;
  opacity: 0.8;
  font-size: 1.3em;
  padding: 7%;
  border-radius: 9px;
}

.alert::after {
  opacity: 0;
  -webkit-transition: ease;
  transition: ease;
}

.close {
  color: red !important;
  text-shadow: 0 1px 0 #000 !important;
  opacity: 1;
  background: none;
  border: none;
  font-size: 4em;
}

.close:focus {
  outline: none;
}

.close:hover {
  color: green !important;
}

/*
***********************************
MEDIA QUERIES
***********************************
*/
/**
//////////////////////////////////////
HEADER
//////////////////////////////////////
*/
.witch-header {
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: var(--primary-color);
}

.grid-witch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.small {
  width: 40px;
  height: 40px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .small {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .small {
    width: 10px;
    height: 10px;
  }
}

.square,
.witch-pink {
  pointer-events: none;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 2px;
  background-color: var(--primary-color);
  font-size: 3em;
}

@media (min-width: 576px) and (max-width: 768px) {
  .square,
  .witch-pink {
    width: 17px;
    height: 17px;
    font-size: 1em;
    margin-bottom: 1em;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .square,
  .witch-pink {
    width: 14px;
    height: 14px;
    font-size: 1em;
    margin-bottom: 1em;
  }
}

.square {
  color: var(--secondary-color);
  font-weight: 100;
}

.witch-pink {
  color: var(--witch-pink) !important;
  font-weight: 200;
}

@media (min-width: 576px) and (max-width: 768px) {
  .witch-pink {
    width: 17px;
    height: 17px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .witch-pink {
    width: 14px;
    height: 14px;
  }
}

/**
//////////////////////////////////////
PINK WITCH
//////////////////////////////////////
*/
.parallax-section {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pink-witch-bg {
  background: url("../images/witch-background.jpg");
  width: 100%;
  min-height: 100%;
}

.yellow-witch-bg {
  background-image: url("../images/witch-background2.jpg");
  width: 100%;
  min-height: 100%;
}

.caption-witch {
  position: absolute;
  left: 46%;
  top: 50%;
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  background-color: var(--witch-pink);
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

.caption-witch:hover {
  background-color: var(--witch-yellow);
}

.caption-witch:hover .wich-witch {
  color: var(--primary-color);
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

.wich-witch {
  color: var(--secondary-color);
  text-shadow: 4px 4px 2px #3f3001;
}

/**
//////////////////////////////////////
PARFUM RESUME
//////////////////////////////////////
*/
.parfum-resume h3 {
  text-align: center;
}

.parfum-resume {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.right-witch-resume {
  text-align: justify;
}

.witch-bottle {
  width: 70%;
}
/*# sourceMappingURL=style-witch.css.map */