/*
***********************************
COLORS
***********************************
*/
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --title-color: #002140;
  --font-color-white: #cecece;
  --font-color-dark: #3b3b3b;
  --main-span-color: #e7b203;
  --link-color: #1EAEDB;
  --witch-pink: rgb(238, 42, 75);
  --witch-yellow: #c5ac48;
}

/*
***********************************
GENERAL
***********************************
*/
*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section * {
  text-align: center;
}

.center-div {
  width: 70%;
  margin: auto;
}

.main-title {
  margin-top: 0.5em;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide-height {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  margin: 0;
  text-decoration: none;
}

.no-color-link {
  color: inherit !important;
}

.no-color-link:hover {
  color: var(--link-color);
}

.logged-in {
  color: green !important;
}

label {
  color: var(--primary-color);
}

.center-element {
  text-align: center;
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: #1d1d1d;
  background: radial-gradient(circle, #080808 0%, rgba(219, 219, 219, 0.144) 50%, rgba(209, 209, 209, 0) 100%);
}

.hr-white {
  border: 0;
  height: 1px;
  width: 90%;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#161616), color-stop(white), to(#161616));
  background-image: linear-gradient(to right, #161616, white, #161616);
}

.scrollable-auto {
  padding: 1em 2em;
  height: auto;
  margin-bottom: 1em;
}

/*
***********************************
FONTS & ICONS
***********************************
*/
* {
  font-family: "Raleway", sans-serif;
}

p,
span,
ul li,
li {
  letter-spacing: 0.2rem !important;
}

.market-message ul li {
  font-weight: 200;
  font-size: 6em important;
}

.fa,
.fas {
  color: var(--link-button-color);
  margin-right: 10px;
}

.fa:hover,
.fas:hover {
  color: var(--orange-icon-color);
}

/*
***********************************
LISTS
***********************************
*/
ul li,
li {
  list-style-type: none !important;
}

.available {
  color: var(--available-color);
}

.unvailable {
  color: var(--unavailable-color);
}

.collapse {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.active {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  opacity: 1;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.active:focus {
  outline: none;
}

/*
***********************************
FLASH MESSAGES / CUSTOM ALERT
***********************************
*/
.flash-container {
  top: 120px;
  z-index: 2;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.alert {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  outline: none;
  text-align: center;
  opacity: 0.8;
  font-size: 1.3em;
  padding: 7%;
  border-radius: 9px;
}

.alert::after {
  opacity: 0;
  -webkit-transition: ease;
  transition: ease;
}

.close {
  color: red !important;
  text-shadow: 0 1px 0 #000 !important;
  opacity: 1;
  background: none;
  border: none;
  font-size: 2em;
}

.close:focus {
  outline: none;
}

.close:hover {
  color: green !important;
}

.custom-alert {
  padding: 1em;
  font-size: 1.1em;
  color: var(--secondary-color);
  text-align: center;
  position: absolute;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
}

/*
***********************************
MEDIA QUERIES
***********************************
*/
/**
//////////////////////////////////////
HEADER
//////////////////////////////////////
*/
.witch-header {
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: var(--primary-color);
}

.witch-dropdown-button {
  border: none;
  cursor: pointer;
}

.witch-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.witch-dropdown-content a {
  color: var(--primary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.witch-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.witch-dropdown-user:hover .witch-dropdown-content {
  display: block;
}

.grid-witch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.small {
  width: 40px;
  height: 40px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .small {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .small {
    width: 10px;
    height: 10px;
  }
}

.square,
.witch-pink {
  pointer-events: none;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 2px;
  background-color: var(--primary-color);
  font-size: 3em;
}

@media (min-width: 576px) and (max-width: 768px) {
  .square,
  .witch-pink {
    width: 17px;
    height: 17px;
    font-size: 1em;
    margin-bottom: 1em;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .square,
  .witch-pink {
    width: 14px;
    height: 14px;
    font-size: 1em;
    margin-bottom: 1em;
  }
}

.square {
  color: var(--secondary-color);
  font-weight: 100;
}

.witch-pink {
  color: var(--witch-pink) !important;
  font-weight: 200;
}

@media (min-width: 576px) and (max-width: 768px) {
  .witch-pink {
    width: 17px;
    height: 17px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .witch-pink {
    width: 14px;
    height: 14px;
  }
}

/**
//////////////////////////////////////
PINK WITCH
//////////////////////////////////////
*/
.parallax-section {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pink-witch-bg {
  background: url("../images/witch-background.jpg");
  width: 100%;
}

.yellow-witch-bg {
  background-image: url("../images/witch-background2.jpg");
}

.pink-witch-bg,
.yellow-witch-bg {
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption-witch {
  position: absolute;
  left: 46%;
  top: 30%;
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  background-color: var(--secondary-color);
}

.caption-witch:hover .wich-witch {
  text-shadow: 4px 4px 2px #3f3001;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

@media (min-width: 576px) and (max-width: 768px) {
  .caption-witch {
    left: calc(53 / 2);
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .caption-witch {
    left: calc(53% / 2);
  }
}

.wich-witch {
  color: var(--primary-color);
}

/**
//////////////////////////////////////
PARFUM RESUME
//////////////////////////////////////
*/
.parfum-resume h3 {
  text-align: center;
}

.parfum-resume {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.left-witch-resume {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-witch-resume {
  text-align: justify;
  padding: 2em;
}

.parfum-resume .flex {
  margin: auto;
}

@media (min-width: 576px) and (max-width: 768px) {
  .parfum-resume .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .parfum-resume .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.witch-bottle {
  width: 160px;
}

.em-witch {
  text-align: center;
  font-weight: 200;
  font-size: 2em;
}

.buy-witch-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.buy-witch-product a {
  width: 100%;
  max-width: 240px;
  height: 54px;
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin: 10px 0;
}

.buy-witch-product a:hover > p {
  color: var(--secondary-color);
}

.buy-witch-product a:before {
  right: 0;
  left: initial;
}

.buy-witch-product a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 13px;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.buy-witch-product a p span.base-witch-buy {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid var(--primary-color);
}

.buy-witch-product a p span.bg-witch-buy {
  left: -5%;
  position: absolute;
  background: var(--primary-color);
  width: 0;
  height: 100%;
  z-index: 3;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

.buy-witch-product a p span.text-witch-buy {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.buy-witch-product a:hover {
  color: var(--secondary-color);
}

.buy-witch-product a:hover span.bg-witch-buy {
  width: 110%;
}

.buy-witch-product a:hover span.text-witch-buy:after {
  background: var(--secondary-color);
}

/*
***********************************
SHOP SEARCH BAR / NAV
***********************************
*/
.witch-shop-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

.search-input {
  width: 11rem;
}

.main-button-search {
  display: none;
}

.search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-nav-menu-witch {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
}

/**
//////////////////////////////////////
S H O P
//////////////////////////////////////
*/
.witch-title-nav a {
  color: var(--primary-color) !important;
}

.left-witch-product {
  position: relative;
}

.right-witch-product {
  position: relative;
  left: -250px;
}

.witch-products {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left-witch-product,
.right-witch-product {
  width: 50%;
}

.left-witch-product {
  margin: auto;
}

.container-witch-product img {
  width: 100%;
}

.right-witch-product {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  margin-right: 50px;
  padding: 2em;
}

.witch-buy-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 50%;
  margin: 0 25%;
}

.add-to-cart {
  font-size: 2em;
}

#stock-status {
  margin: auto;
  text-align: center;
}

.low-stock {
  color: #f17a4e;
}

.empty-stock {
  color: red;
}

.full-stock {
  color: #89af00;
}

.circle-witch-add-to-cart {
  height: 124px;
  width: 124px;
}

.circle-witch-add-to-cart .background-witch-add-to-cart {
  fill: transparent;
  stroke: #1abc9c;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.circle-witch-add-to-cart .foreground-witch-add-to-cart {
  fill: transparent;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
  stroke: #ee3769;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.circle-witch-add-to-cart .line-witch-add-to-cart {
  stroke-width: 2;
  stroke: #1abc9c;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.circle-witch-add-to-cart .line2-witch-add-to-cart {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.circle-witch-add-to-cart:hover {
  cursor: pointer;
}

.circle-witch-add-to-cart:hover .background-witch-add-to-cart {
  stroke: transparent;
}

.circle-witch-add-to-cart:hover .foreground-witch-add-to-cart {
  stroke-dashoffset: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.circle-witch-add-to-cart:hover .line-witch-add-to-cart {
  stroke: #ee3769;
}

.circle-witch-add-to-cart:hover .line-witch-add-to-cart {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.circle-witch-add-to-cart:hover .line2-witch-add-to-cart {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
/*# sourceMappingURL=style-witch.css.map */