<!--***************************HEAD****************************-->

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    {% endblock %}

    <title>
        {% block title %}
        Agence Py
        {% endblock %}
    </title>
</head>

<body>

    {# Loading animation #}
    <div id="loader" class="center"></div>

    {% block body %}
    {% endblock %}


    {% block footer %}
    <!--***************************NAV FOOTER****************************-->

    {% endblock %}

    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.js"
    integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
    crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="{{ asset('assets/js/app.js') }}"></script>
</body>

</html>