{% extends 'base.html.twig' %}

{% block title %}Historique de commandes
{% endblock %}

{% block body %}
<!--***************************NAV****************************-->
{% include "nav/witch.menu.sidebar.html.twig" %}

<section class="scrollable-auto">
    <div class="witch-user-div">
        <h4>Historique de vos commandes</h4>
        <hr class="hr">
        <table>
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
            <tbody>
                
            </tbody>
            </thead>
        </table>


        <div class="recap-after-buy">
            <a href="{{ path('witch_shop') }}">
                <span class="ti-archive"></span>
            </a>
        </div>
    </div>
</section>



</div>
</section>
{% endblock %}