{% extends 'base.html.twig' %}

{% block title %}Commande validée
{% endblock %}

{% block body %}
<!--***************************NAV****************************-->
{% include "nav/witch.menu.sidebar.html.twig" %}

<section class="scrollable-auto">
    <div class="witch-user-div">
        <h4>Merci de votre achat !</h4>
        <hr class="hr">
        <h5>Retrouvez l'historique de vos commandes ci-dessous </h5>       

        <div class="recap-after-buy">
            <a href="{{ path('witch_archive_order') }}">
                <span class="ti-archive"></span>
            </a>
        </div>
    </div>
</section>



</div>
</section>
{% endblock %}